@import "../../utils/style/_variables.scss";
@import "../../utils/style/_mixins.scss";

.main-user {
    @include column;
    align-items: center;
    background-color: $bg_secondary;
   & .section-card {
     width: 100%;
        @include column;
        align-items: center;
   }
}