@import "../../utils/style/_variables.scss";
@import "../../utils/style/_mixins.scss";


.section-user {
    height: 138px;
    @include column;
    align-items: center;
    margin-bottom: 2rem;
    & .title-user {
        color: $bg_primary;
    }
    & form {
        @include column;
    }
}