@import "../../utils/style/_variables.scss";
@import "../../utils/style/_mixins.scss";

.main-login {
    background-color: $bg_secondary;
    display: flex;
    justify-content: center;
    & .section-login {
        box-sizing: border-box;
        width: 300px;
        height: 365px;
        margin-top: 3rem;
        background-color: $bg_primary;
        padding: 2rem;
        & .from-header {
            height: 75px;
            @include column;
            align-items: center;
            & .form {
                @include column;
            }
        }
    }
}