@import "../../utils/style/_variables";
@import "../../utils/style/_mixins";

/// MOBILE FIRST ///

.account {
    width: 80%;
    height: 132px;
    background-color: $bg_primary;
    @include rowSpaceBetween;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    // margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 2rem;
    & .content-account {
        @include column;
        justify-content: center;
        text-align: left;
        & .title-account {
            font-size: 1rem;
        }
        & .money {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
}


/// TABLET + DESKTOP ///
@media (min-width: 720px) {
    .account {
        flex-direction: row;
    }
}