@import "../../utils/style/_variables.scss";

/// MOBILE FIRST ///

.card-feature {
    padding: 2.5rem;
    & .feature-icon{
        width: 100px;
        border: 10px solid $details_bg;
        border-radius: 50%;
        padding: 1rem;
    }
    & h3 {
        color: $txt_secondary;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}


/// TABLET + DESKTOP ///