// Color
$bg_primary: "#FFFFFF";  // white
$bg_secondary: "12002b"; // dark purple

$txt_primary: "#2c3e50";  // dark blue
$txt_secondary: "222222";  // smooth black

$details_bg: "00bc77";   // green
$details_line: "cccccc";  // gray