@import "./_variables.scss";
@import "./_mixins.scss";

* {
    margin: 0;
    padding: 0;
 }
 
 body {
    width: 100%;
    & .app {
        background-color: $bg_primary;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        text-align: center;
        color: $txt_primary;
        margin: 0;
        @include column;
        min-height: 100vh;
     }
 }