@import "./_variables.scss";
@import "./_mixins.scss";

* {
    margin: 0;
    padding: 0;
 }
 
 body {
    width: 100%;
    & .app {
        background-color: $bg_primary;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        text-align: center;
        color: $txt_primary;
        margin: 0;
        @include column;
        min-height: 100vh;
     }
 }

.hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
}